html{
  background-color: black;
  height: 100%;
  width: 100%;
}
body{
  margin: 0px;
  font-size: 18px;
  height: 100%;
}
body, a:link, a:visited, a:active{
  color: rgb(10, 233, 85);
  text-decoration: none;
}
/* #app{
  position: relative;
  background-color: black;
} */
.topbar{
  height:150px;
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  text-align: center;

  background-color: white;
}
#Hearts, #Hearts2{
  display:none;
}
.H1{
  position: absolute;
  left: 505px;
}
.H2{
  position: absolute;
  right: 505px;
  transform: scaleX(-1);
}
#Heading{
  display: block;
  height: 163px;
  width: 100%;
  text-align: center;
  font-family: fantasy;
  font-size: 150px;
  /* padding: 0px 1050px; */
}
.buttonzone{
  height: 70px;

  position: relative;
  top: 300px;
  width:2560px;
}
.B1{
  position: absolute;
  left: 369.33px;
  top: 60px;
  z-index: 1;
}
.B2{
  position: absolute;
  left: 734.66px;
  top: 60px;
  z-index: 1;
}
.title{
  position: absolute;
  right: 1100px;
  top: 160px;
  z-index: 1;
  padding: 5px 10px;
  width: 340px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  font-family: fantasy;
  font-size: 35px;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  white-space: nowrap;
}
.B3{
  position: absolute;
  right: 734.66px;
  top: 60px;
  z-index: 1;
}
.B4{
  position: absolute;
  right: 369.33px;
  top: 60px;
  z-index: 1;
}
.DancerButton {
  position: absolute;
  margin-top: 100px;
  padding: 1.3em 3em;
  width: 244px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;

  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.DancerButton:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.DancerButton:active {
  transform: translateY(-1px);
}

.dancer{
  position:absolute;
}
.background{
  position: absolute;
  top:220px;
  left:320px;
  height: 1200px;
  width: 1920px;

  grid-column: 1 / span 3;
  grid-row: 2 / span 4;
  min-width: auto;
  min-height: auto;
  align-items: center;
  z-index: 0;
}
.bird{
  position: absolute;
  height: 60px;
  width: 60px;
  z-index: 1;
}

.parrot {
  position: absolute;
}

.parrot img {
  animation: rotation 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg)
  }
}

.penguin{
  position: absolute;
  animation-play-state: paused;
}

.penguin img {
  transform-origin: center;
  animation-play-state: running;
  animation: grow 1750ms ease-in-out infinite alternate;
}

@keyframes grow {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1.2);
  }
}

.D1{

}
.D1:hover{


}
.D2{


}
.D2:hover{

}
.D3{


}
.Pseudo{
  position: absolute;
  padding: 300px 480px;
  top: 220px;

  z-index: 5;

}
.P1{
  position: absolute;
  top: 220px;
  left: 320px;
}
.P2{
  position: absolute;
  top: 220px;
  left: 1280px;
}
.P3{
  position: absolute;
  top: 820px;
  left: 320px;
}
.P4{
  position: absolute;
  top: 820px;
  left: 1280px;
}